<ul class="nav nav-pills">
	<li role="presentation"  ng-class="{active: !msg.isBatch}" ng-click="msg.isBatch = false"><a href="#">Message</a></li>
	<li role="presentation"  ng-class="{active: msg.isBatch}"ng-click="msg.isBatch = true"><a href="#">Batch</a></li>
</ul>
<section class="container1">
	<section ng-hide="msg.isBatch">
		<form class="form">
			<fieldset>
				<div class="form-group col-md-12">
					<label class="control-label col-md-1 col-md-offset-1" >Message</label>
					<div class="controls">
						<textarea class="col-md-8 col-md-offset-1" type="text" ng-model="msg.content" style="min-height : 300px;">
						</textarea>
					</div>
				</div>
			</fieldset>
		</form>
	</section>
	<section ng-show="msg.isBatch">
		<form class="form">
			<fieldset>
				<div class="form-group col-md-12">
					<label class="control-label col-md-2 col-md-offset-1" >Batch File</label>
					<div class="controls">
							<div class="col-md-3 col-md-offset-1" >
								<input class="form-control" disabled="disabled" ng-model="msg.filename"/>
							</div>
							<div class="btn btn-primary col-md-1">
							    <span>Browse</span>
							    <input type="file" id="up2" multiple class="upload" onchange="angular.element(this).scope().selectedBatch(this.files)"/>
							</div>
					</div>
					<div class="col-md-12" style="margin-top : 10px;" ng-show="msg.notZIP">
						<p class="col-md-offset-5" style="color : red;"> File must be .zip </p> 
					</div> 
				</div>
			</fieldset>
		</form>
	</section>
</section>
<button ng-show="msg.showVal()" ng-click="msg.validate()" class="btn btn-warning pull-right col-md-3" style="margin-top : 10px;" > Validate </button>
<ul class="pager col-md-12">
		<li><a href="#" ng-click="msg.back()" ><span aria-hidden="true">&larr;</span> Back</a></li>
</ul>