<section class="container1" >
	<form class="form">
	<fieldset>
		<div class="form-group col-md-12" ng-show="profile.step() > 0">
					<label class="control-label col-md-2 col-md-offset-1" for="domain">Domain</label>
					<div class="controls">
							<input ng-hide="profile.domisSelected()" id="domain" name="domain" placeholder="Search" class="col-md-4 col-md-offset-1" type="text" ng-model="searchD" />
							<a ng-show="profile.domisSelected()" href="#" class="col-md-4 col-md-offset-1 list-group-item">
								{{profile.selecteDom()}}
								<button type="button" class="close" aria-label="Close" ng-click="profile.back(2)">
									<span aria-hidden="true">&times;</span>
								</button>
							</a>
					</div>
					<div class="list-group" ng-show="profile.step() === 1">
							<a href="#" class="col-md-4 col-md-offset-4 list-group-item" ng-repeat="dom in profile.doms() | filter:searchD" ng-click="profile.selectD(dom)">
								{{dom}}
							</a>
					</div>
		</div>
		<div class="form-group col-md-12" ng-show="profile.step() > 1">
					<label class="control-label col-md-2 col-md-offset-1" for="profile">Profile</label>
					<div class="controls">
							<input ng-hide="profile.proisSelected()" id="profile" name="profile" placeholder="Search" class="col-md-4 col-md-offset-1" type="text" ng-model="searchD"/>
							<a ng-show="profile.proisSelected()" href="#" class="col-md-4 col-md-offset-1 list-group-item">
								{{profile.selectedPro()}}
								<button type="button" class="close" aria-label="Close" ng-click="profile.back(3)">
									<span aria-hidden="true">&times;</span>
								</button>
							</a>
					</div>
					<div class="list-group" ng-show="profile.step() === 2">
							<a href="#" class="col-md-4 col-md-offset-4 list-group-item" ng-repeat="pro in profile.pros() | filter:searchP" ng-click="profile.selectP(pro)">
								{{pro.name}}
							</a>
					</div>
		</div>
		<div class="form-group col-md-12" ng-show="profile.step() > 2 && profile.dqa">
			<label class="control-label col-md-2 col-md-offset-1" for="tables">DQA</label>	
			<button ng-click="profile.openDQA()" class="col-md-4 col-md-offset-1 btn btn-warning">
				Choose DQA Issues
				<span class="badge">{{profile.nbFilters()}}</span>
			</button>
		    <script type="text/ng-template" id="myModalContent.html">
        		<div class="modal-header col-md-12">
            		<h3 class="modal-title col-md-5">{{ctrl.title}}</h3>
					<span class="col-md-offset-4 col-md-2"> Selected </span>
					<span class="badge col-md-1">{{ctrl.nbFilters()}}</span>
       			</div>
        		<div class="modal-body col-md-12">
        			<div class="hlimit">
	        			<div class="col-md-8 col-md-offset-4">
							<input id="code" name="code" ng-model="search.code" placeholder="Code" class="col-md-4" type="text" />
	            			<input id="desc" name="desc" ng-model="search.desc" placeholder="Description" class="col-md-8" type="text" />
						</div>
						<table class="table table-condensed table-striped">
							<caption>DQA Errors</caption>
							<tr>
								<th> Code </th>
								<th> Issue </th>
							</tr>
							<tr ng-repeat="item in ctrl.dqaOptions.errors | filter:search" ng-class="{success : ctrl.isSelected(item)}">
								<td><button class="btn btn-default" ng-class="{active : ctrl.isSelected(item)}" ng-click="ctrl.toggle(item)">{{item.code}}</button></td>
								<td>{{item.desc}}</td>
							</tr>
						</table>
						<table class="table table-condensed table-striped">
							<caption>DQA Warnings</caption>
							<tr>
								<th>Code</th>
								<th> Issue </th>
							</tr>
							<tr ng-repeat="item in ctrl.dqaOptions.warnings | filter:search" ng-class="{success : ctrl.isSelected(item)}">
								<td><button class="btn btn-default" ng-class="{active : ctrl.isSelected(item)}" ng-click="ctrl.toggle(item)">{{item.code}}</button></td>
								<td>{{item.desc}}</td>
							</tr>
						</table>
	        		</div>
        		</div>
        		<div class="modal-footer">
					<button class="btn btn-primary col-md-6" type="button" ng-click="ctrl.ok()">OK</button>
            		<button class="btn btn-success col-md-2" type="button" ng-click="ctrl.selectAll()">Select All</button>
					<button class="btn btn-danger col-md-2" type="button" ng-click="ctrl.clearAll()">Clear All</button>
				</div>
    		</script>
		</div>
		<div class="form-group col-md-12" ng-show="profile.step() > 2 && profile.needed">
					<label class="control-label col-md-2 col-md-offset-1" for="tables">Tables <a href="#" tooltips tooltip-size="small" tooltip-title="Information" tooltip-side="bottom"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></label>
					
					<button ng-click="profile.toggleSelect()" class="col-md-4 col-md-offset-1 btn btn-warning">{{profile.btnText}}</button>

					<div class="list-group">
						<a href="#" class="col-md-4 col-md-offset-4 list-group-item" ng-class="{active: profile.tabisSelected(tab)}" ng-click="profile.selecT(tab)" ng-repeat="tab in profile.tabs()">
							{{tab.name}}
							<span class="badge" ng-show="profile.tabisSelected(tab)">{{profile.tabPosition(tab)}}</span>
						</a>
					</div>
		</div>
		<div class="form-group col-md-12" ng-show="profile.step() > 2 && profile.needed">
			<div class="controls col-md-8 col-md-offset-4"">
				<label class="radio inline" for="radios-0">
					<input ng-model="profile.context" name="radios" id="radios-0" value="Context Based" checked="checked" type="radio">
					Context Based
				</label>
				<label class="radio inline" for="radios-1">
					<input ng-model="profile.context" name="radios" id="radios-1" value="Context Free" type="radio">
					Context Free
				</label>
			</div>
		</div>
		<div class="form-group col-md-12" ng-show="profile.isCB() && profile.needed && profile.step() > 2">
			<label class="control-label col-md-2 col-md-offset-1" >Context File</label>
			<div class="controls">
					<div class="col-md-3 col-md-offset-1">
						<input class="form-control" disabled="disabled" ng-model="profile.fn"/>
					</div>
					<div class="btn btn-primary col-md-1">
					    <span>Upload</span>
					    <input type="file" class="upload" id="up1" onchange="angular.element(this).scope().upContext(this.files)"/>
					</div>
					
<!-- 					<input name="file"  data-icon="false"  id="ifile" type="file" onchange="angular.element(this).scope().selected(this.files)"/> -->
			</div>
<!-- 			<div class="col-md-12" style="margin-top : 10px;" ng-hide="!profile.isError()"> -->
<!-- 						<p class="col-md-offset-5" style="color : red;"> File must be XML </p> -->
<!-- 			</div> -->
		</div>
	</fieldset>
</form>
</section>
<nav>
	<ul class="pager">
		<li><a ng-click="profile.next()" ng-show="profile.canGo()" href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
	</ul>
</nav>