<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="js/script.js"></script>
	<script src="bower_components/angular-tooltips/dist/angular-tooltips.min.js"></script>
	<script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="custom/style.css">
	<link rel="stylesheet" type="text/css" href="style/main.scss">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css">
	<title>NIST HL7 V2 Validation Client</title>
</head>
<body ng-app="validator" ng-controller="GeneralController as gc">
	<section class="" >
		<nav class="navbar navbar-inverse navbar-fixed-top">
  			<div class="container">
  				<a class="navbar-brand" href="#">
  					NIST HL7 V2 Validation Client
  				</a>
  			</div>
		</nav>
		<div style="margin-top : 200px;">
			<alerts-area></alerts-area>
		</div>
		<div class="panel panel-default col-md-10 col-md-offset-1">
	  		<div class="panel-heading" ng-hide="gc.isSelected(3)">Validation Options</div>
	  		<div class="panel-heading" ng-show="gc.isSelected(3)">Validation Result
		  		<a href='{{gc.getXML()}}' >
			  		<button type="button" class="btn btn-default btn-xs pull-right">
		  				<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download XML
					</button>
				</a>
	  		</div>
	  		<div class="panel-body">
	  			<div style="min-height : 300px;" class="col-md-12" ng-show="gc.isLoading()">
	  				<div>
	  					<img style="margin-top : 140px; height : 20px;" class="col-md-4 col-md-offset-4" src="./img/ajax-loader.gif"/>
	  				</div>
	  				<div>
	  					<span class="col-md-4 col-md-offset-5">{{gc.loadMsg()}}</span>
	  				</div>
	  			</div>
	  			<section ng-show="gc.isSelected(1) && !gc.isLoading()" ng-controller="ProfileController as pc">
	  				<ul class="nav nav-pills">
						<li role="presentation" ng-class="{active: gc.activeT(1)}" ng-click="gc.activate(1); pc.reload();"><a href="#">Validation</a></li>
						<li role="presentation" ng-class="{active: gc.activeT(2)}" ng-click="gc.activate(2); pc.reload();"><a href="#">Upload Resource</a></li>
						<li role="presentation" ng-class="{active: gc.activeT(3)}" ng-click="gc.activate(3)"><a href="#">Soap Endpoint</a></li>
					</ul>
					<profile-selection ng-show="gc.activeT(1)"></profile-selection>
					<upload-area	ng-show="gc.activeT(2)"></upload-area>
					<end-point	ng-show="gc.activeT(3)"></end-point>
	  			</section>
	    		<message-area ng-show="gc.isSelected(2) && !gc.isLoading()"></message-area>
	    		<response-area ng-show="gc.isSelected(3) && !gc.isLoading()"></response-area>
	  		</div>
		</div>
	</section>
</body>
</html>